// @include edit();

#calc-container {
  form {
    background-color: $color-2;
    padding: 1.5rem 0rem;
    display: flex;
    justify-content: space-around;

    h4 {margin-top: 0; margin-bottom: 1.25rem;}
  } // form

  form br {display: none;}

  form > div {
    color: $color-8;
  }

  // input styles
  form input[type=number] {
    width: 3.125rem;
    text-align: left;
    font-style: 1rem;
    color: $color-3;
    border-radius: 0.25rem;
    padding-left: 0.4375rem;
    border: 0;
  }

  form select {
    width: 3.75rem;
    color: $color-3;
    font-size: 1rem;
    border: 0;
  }
} // #calc-container