// color palette
$color-1 : #f2f1ed;  // Off White
$color-2 : #505559;  // Charcoal
$color-3 : #252426;  // Dark Blue
$color-4 : #519c9c;  // Green
$color-5 : #e2aa69;  // Tan
$color-6 : #e17768;  // Peach
$color-7 : #c2bca9;  // Gray
$color-8 : #FFFFFF;  // White


$font-primary: 'Quattrocento Sans', sans-serif;
$font-secondary: 'Quattrocento', serif;

// z-index
$below-content: 1;
$content: 2;
$above-content: 3;

// Breakpoints
$xS   : 20rem;       // 320px - iphone 3
$S    : 30rem;       // 480px
$i5   : 40rem;       // 640px - iphone 5
$M    : 48rem;       // 768px - ipad mini
$L    : 73.125rem;   // 1170px
$maxL :  $L - 0.0625rem;